@charset "utf-8";



.frame {
  margin: 30px 150px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px){
  .frame {
  margin: 10px 20px;
}
}

body{
    margin: 0;
    padding: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav ul {
  text-align: center;
  margin: 0;
}

nav ul li {
  padding: 18px;
  display: inline-block;
  align-self: center;
  margin: 0;
  margin-left: 15px;
  font-family: Oswald; san-serif;

}

nav ul li a {
  text-transform:uppercase;
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  color: #D6CEC5;
  transition: 0.3s;
}

@media (max-width: 767px){
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  nav ul {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: Oswald;
  }

  nav ul li {
    display: table-cell;
    align-self: center;
    margin: 0;
    padding: 9px;


  }

  nav ul li a {
    text-transform:uppercase;
    color: rgba(0, 0, 0, 1);
    font-size: 13px;
    text-decoration: none;
    display: block;
  }

}


.site-name {
  margin: 0;
  padding: 18px;
  font-family: Oswald;
  font-size: 25px;
  color: black ;

}


@media (max-width: 767px) {
  .site-name {
    display: block;
    margin: 0;
    padding: 20px;
    font-family: Oswald;
    font-size: 25px;
    color: black;
    align-content: center;
    justify-content: center;
    align-self: center;
}

}


.logotext {
    height: 70vh;
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-family: Oswald;
}

@media (max-width: 767px) {
  .logotext {
    height: 25vh;
        display: block;
        align-items: center;
        align-self: center;
        text-align: center;
        justify-content: center;
        position: absolute;
        font-size: 11px;
        font-family: Oswald;
  }
}


.text{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: default;
}



.logotext-2 h3{
    font-family: Oswald;
    font-size: 4em;
    color: #801919;
    z-index: 1;
    mix-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    flex-basis: 30%;
}

@media (max-width: 767px) {
  .logotext-2 h3 {
    font-family: Oswald;
    color: #801919;
    z-index: 1;
    mix-blend-mode: overlay;
    margin: 0;
  }
}

.logotext-1 h5{
    font-family: Oswald;
    font-size: 30px;
    color: #878787;
    z-index: 1;
    mix-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

@media (max-width: 767px) {
  .logotext-1 h5{
      ffont-family: Oswald;
      font-size: 1em;
      color: #878787;
      z-index: 1;
      mix-blend-mode: overlay;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;
  }
}





.img {
  display: flex;
  flex-direction: row;
}

.img img{
    position: relative;
    top: 30px;
    margin-left: 60%;
    width: 30%;
    height: 30%;
    object-fit: scale-down;
    object-position: right center;
}

@media (max-width: 767px) {
  .img img {
    position: relative;
    top: 170px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
    object-fit: contain;
    object-position: center;
    display: block;
    margin-left: 0;
  }
}


.profile-title h5{
    font-family: Oswald, sans-serif;
    font-size: 50px;
    color: #801919;
    z-index: 1;
    margin: 0;
    margin-top: 100px;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;

}



.profile h4{
    font-family: Oswald, sans-serif;
    font-size: 30px;
    color: #801919;
    margin-top: 25px;
    margin-bottom: 25px;

}


.profile h6{
    @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
    font-family: Oswald, sans-serif;
    font-size: 18px;
    color: #898989;
    z-index: 1;
    margin: 0;

}

.profile {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
}

@media (max-width: 767px) {
  .profile {
    display: block;
    flex-direction: column;
    margin-top: 220px;
    margin-bottom: 50px;
    text-align: center;
  }
}

#pf-content1 {
        background-color: #F9F8F8;
        width: 30%;
        height: 300px;
        padding: 20px;
        float: left;
        border: none;
        border-radius: 30px;
        margin-right: 10px;
      }
#pf-content2 {
        background-color: #F9F8F8;
        width: 30%;
        height: 300px;
        padding: 20px;
        float: left;
        border: none;
        border-radius: 30px;
        margin-right: 10px;
      }
#pf-content3 {
        background-color: #F9F8F8;
        width: 30%;
        height: 300px;
        padding: 20px;
        float: left;
        border: none;
        border-radius: 30px;
        margin-bottom: 80px;
      }

@media (max-width: 767px) {
  #pf-content1 {
    background-color: #FCF9F2;
    width: 90%;
    display: block;
    height: 200px;
    padding: 20px;
    float: left;
    border: none;
    border-radius: 30px;
    margin-right: 0;
    margin-bottom: 10px;
        }
  #pf-content2 {
    background-color: #FCF9F2;
    width: 90%;
    display: block;
    height: 200px;
    padding: 20px;
    float: left;
    border: none;
    border-radius: 30px;
    margin-right: 0;
    margin-bottom: 10px;

        }
  #pf-content3 {
    background-color: #FCF9F2;
    width: 90%;
    display: block;
    height: 200px;
    padding: 20px;
    float: left;
    border: none;
    border-radius: 30px;
    margin-right: 0;
    margin-bottom: 10px;

        }

}



.favorite-title h5{
    font-family: Oswald, sans-serif;
    font-size: 50px;
    color: #801919;
    z-index: 1;
    margin: 0;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;

}

.favorite {
    width: 70%;
    margin: auto;
    overflow: hidden;
    grid-gap: 3px 3px;
}
.favorite-item {
    width: 100%;
    height: auto;
    position: relative;
}
.favorite-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.img-item{
position:relative;
}


.text-1{
position: absolute;
top: 0;
bottom: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.6);
color: white;
font-family: Oswald, sans-serif;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
opacity: 0;
transition: opacity 0.5s;
}


.text-1:hover {
opacity: 1;
}
[class^="grid"]{
display:flex;
}


@media only screen and (min-width: 640px) {
.favorite {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 3px;
}
.grid1 {
      display:  block;
      row-gap: 3px;
}
.grid2 {
      display: block;
      row-gap: 3px;
}
.grid3 {
      display: block;
      row-gap: 3px;
}
}


.footer h3 {
    margin: 0;
    padding: 18px;
    font-family: Oswald, sans-serif;
    font-size: 40px;
    color: #801919;

  }


.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 60px;
  bottom: 0;
  margin-top: 80px;
  margin-bottom: 170px;

}



.icon {
  display: inline-block;
  background-size: cover;
  background-position: center;
  width: 60px;
  height: 60px;
  margin: 4px;
  background-repeat: no-repeat;
}



#insta {
    background-image: url(./instaicon.png);
}

#github {
    background-image: url(./githubicon.png);
}


#email {
    background-image: url(./emailicon.png);
}

#velog {
    background-image: url(./velogicon.png);
}
