@charset "utf-8";



.frame {
  margin: 30px 150px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px){
  .frame {
  margin: 10px 20px;
}
}

body{
    margin: 0;
    padding: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav ul {
  text-align: center;
  margin: 0;
}

nav ul li {
  padding: 18px;
  display: inline-block;
  align-self: center;
  margin: 0;
  margin-left: 15px;

}

nav ul li a {
  text-transform:uppercase;
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  color: #D6CEC5;
  transition: 0.3s;
}

@media (max-width: 767px){
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  nav ul {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    display: table-cell;
    align-self: center;
    margin: 0;
    padding: 9px;


  }

  nav ul li a {
    text-transform:uppercase;
    color: rgba(0, 0, 0, 1);
    font-size: 13px;
    text-decoration: none;
    display: block;
  }

}







.site-name {
  margin: 0;
  padding: 18px;
  font-family: sans-serif;
  font-size: 25px;
  color: #D29F62;

}


@media (max-width: 767px) {
  .site-name {
    display: block;
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
    font-size: 25px;
    color: #D29F62;
    align-content: center;
    justify-content: center;
    align-self: center;
}

}

.img img{
    position: relative;
    top: 30px;
    margin-left: 650px;
    width: 30%;
    height: 30%;
    object-fit: scale-down;
    object-position: right center;
}

@media (max-width: 767px) {
  .img img {
    position: relative;
    top: 170px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
    object-fit: contain;
    object-position: center;
    display: block;
    margin-left: 0;
  }
}


.logotext{
    height: 70vh;
    display: flex;
    margin-left: 100px;
    align-items: center;
    justify-content: default;
    position: absolute;
}

@media (max-width: 767px) {
  .logotext {
    height: 25vh;
        display: block;
        align-items: center;
        align-self: center;
        text-align: center;
        justify-content: center;
        position: absolute;
        font-size: 11px;
  }
}


.text{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: default;
}



.logotext h3{
    font-family: sans-serif;
    font-size: 4em;
    color: #EDD8A3;
    z-index: 1;
    mix-blend-mode: overlay;
}

@media (max-width: 767px) {
  .logotext h3 {
    font-family: sans-serif;
    color: #EDD8A3;
    z-index: 1;
    mix-blend-mode: overlay;
    margin: 0;
  }
}

.logotext h5{
    font-family: sans-serif;
    font-size: 1em;
    color: #878787;
    z-index: 1;
    mix-blend-mode: overlay;
}

.profile h4{
    @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 2em;
    text-align: justify;
    color: black;
    z-index: 3;
    mix-blend-mode: overlay;
}

.profile h5{
    @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 25px;
    color: #CCB182;
    z-index: 1;
    margin: 0;

}

.profile h6{
    @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 18px;
    color: #898989;
    z-index: 1;

    margin: 0;

}

.profile {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

@media (max-width: 767px) {
  .profile {
    display: block;
    flex-direction: column;
    margin-top: 220px;
    margin-bottom: 50px;
    text-align: center;
  }
}

#pf-content1 {
        background-color: #FCF9F2;
        width: 30%;
        height: 300px;
        padding: 20px;
        float: left;
        border: none;
        border-radius: 30px;
        margin-right: 10px;
      }
#pf-content2 {
        background-color: #FCF9F2;
        width: 30%;
        height: 300px;
        padding: 20px;
        float: left;
        border: none;
        border-radius: 30px;
        margin-right: 10px;
      }
#pf-content3 {
        background-color: #FCF9F2;
        width: 30%;
        height: 300px;
        padding: 20px;
        float: left;
        border: none;
        border-radius: 30px;
      }

@media (max-width: 767px) {
  #pf-content1 {
    background-color: #FCF9F2;
    width: 90%;
    display: block;
    height: 200px;
    padding: 20px;
    float: left;
    border: none;
    border-radius: 30px;
    margin-right: 0;
    margin-bottom: 10px;
        }
  #pf-content2 {
    background-color: #FCF9F2;
    width: 90%;
    display: block;
    height: 200px;
    padding: 20px;
    float: left;
    border: none;
    border-radius: 30px;
    margin-right: 0;
    margin-bottom: 10px;

        }
  #pf-content3 {
    background-color: #FCF9F2;
    width: 90%;
    display: block;
    height: 200px;
    padding: 20px;
    float: left;
    border: none;
    border-radius: 30px;
    margin-right: 0;
    margin-bottom: 10px;

        }

}


.favorite {
    width: 70%;
    margin: auto;
    overflow: hidden;
    grid-gap: 3px 3px;
}
.favorite-item {
    width: 100%;
    height: auto;
    position: relative;
}
.favorite-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.img-item{
position:relative;
}


.text-1{
position: absolute;
top: 0;
bottom: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.6);
color: white;
font-family: sans-serif;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
opacity: 0;
transition: opacity 0.5s;
}


.text-1:hover {
opacity: 1;
}
[class^="grid"]{
display:flex;
}


@media only screen and (min-width: 640px) {
.favorite {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 3px;
}
.grid1 {
      display:  block;
      row-gap: 3px;
}
.grid2 {
      display: block;
      row-gap: 3px;
}
.grid3 {
      display: block;
      row-gap: 3px;
}
}


.footer h3 {
    margin: 0;
    padding: 18px;
    font-family: sans-serif;
    font-size: 25px;
    color: #D6CEC5;

  }


.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 60px;
  bottom: 0;
  margin-top: 50px;
  margin-bottom: 50px;

}



.icon {
  display: inline-block;
  background-size: cover;
  background-position: center;
  width: 60px;
  height: 60px;
  margin: 4px;
  background-repeat: no-repeat;
}



#insta {
    background-image: url(./instaicon.png);
}

#github {
    background-image: url(./githubicon2.png);
}

#velog {
    background-image: url(./velogicon.png);
}

#email {
    background-image: url(./emailicon.png);
}
